* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg,#FF6E6C,#FFE380);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 10px;
}

form button {
    color: #FF6E6C;
    background:  white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .btn-img {
    height: 40px;
    width: 40px;
} */

form button:hover {
    background: #FF6E6C;
    color: white
}
