* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #55423d;
  font-family: 'Sriracha', cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
}

.container {
  width: 300px;
  background-color: #ffc0ad;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 18px;
  color: white;
}

/* Top Section */

.top {
  background-color: white;
  width: 80%;
  border-radius: 10px;
}

.bill-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tip-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.billValue {
  width: 30%;
  height: 20px;
  background: #e78fb3;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.billValue::-webkit-inner-spin-button,
.billValue::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  font-size: 12px;
}

hr {
  margin: 10px auto;
  width: 80%;
}
